#home-card {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}

#fas {
  font-size: 60px;
}

#far {
  font-size: 60px;
}

.summary-card {
  margin-top: 15px;
}

body {
  background-image: url("../assets/images/happy-book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: scroll; */
}

#home-card-2 {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 29px;
}

#home-card-3 {
  font-weight: bold;
  opacity: 0.75;
  line-height: 1.7;
}

#home-card-4 {
  font-weight: bold;
  opacity: 0.75;
}

#auth-text {
  padding-top: 60px;
}

#home-button:hover {
  background-color: blue;
}

.week-link:visited {
  color: white;
}

.week-link {
  font-weight: bold;
}

#save-btn {
  margin-right: 10px;
  border-color: #17a2b8;
}

.form-group {
  margin-top: 40px;
  width: 75%;
}

.auth-text-font{
  font-family: 'Bitter', serif;
}

.auth-card{
  opacity: .8;
}